<div id="<%= dom_id reminder %>">
  <p>
    <strong>Title:</strong>
    <%= reminder.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= reminder.description %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= reminder.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= reminder.end_time %>
  </p>

</div>
